<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wt.dao.mapper.WtMoviesMapper">

    <sql id="selectMoviesVo">
        select id,
               title,
               description,
               video_url,
               uploader_id,
               create_time,
               mime_type
        from wt_movies
    </sql>

    <resultMap id="moviesResultMap" type="com.wt.entity.wt.WtMovies">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="videoUrl" column="video_url"/>
        <result property="uploaderId" column="uploader_id"/>
        <result property="createTime" column="create_time"/>
        <result property="mimeType" column="mime_type"/>
    </resultMap>

    <select id="getMovieList" resultMap="moviesResultMap">
        <include refid="selectMoviesVo"/>
        order by create_time desc
    </select>

    <select id="getMovieListByUploader" resultMap="moviesResultMap">
        <include refid="selectMoviesVo"/>
        where uploader_id = #{uploaderId}
        order by create_time desc
    </select>

    <select id="selectMovieById" resultMap="moviesResultMap">
        <include refid="selectMoviesVo"/>
        where id = #{id}
    </select>
</mapper>